# Ignore basic OS files
.DS_Store
Thumbs.db

# Ignore node dependencies
node_modules

# Ignore bower dependencies
bower_components

# Ignore npm files
npm-debug.log

# Ignore test/debug tools and docs, generate locally if needed
docs
demo/scroll-proxy.js
test/testBundle.js

# Ignore wallaby.js config file, only some devs use it
wallaby.js
