# Ignore basic OS files
.DS_Store
Thumbs.db

# Ignore node dependencies
node_modules

# Ignore bower dependencies
bower_components

# Ignore npm files
npm-debug.log

# Ignore docs, generate locally
docs

# Ignore dev js
dev/scroll-proxy.js

# Ignore testBundle js
test/testBundle.js

# Ignore wallaby.js config file
wallaby.js
